@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	height: 100%;
	width: 100%;
	/*background-color: black;*/
}

.container-fluid {
	padding: 0;
}

a.nav-link {
	text-align: center;
	/*border-bottom: 1px solid black;*/
}

.sidebar-wrapper {
	background-color: grey;
	height: 100%;
	display: inline-block;
}

 {
	display: inline-block;
}

/*colors: blue-#073894, grey-d9d9d9, orange-ffbd4a*/