@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.about {
    height: 100rem;
    width: 100%;

    &__self {
        width: 30rem;
        height: 30rem;
        border-radius: 100%;
        object-fit: cover;
        display: block;
        text-align: center;
        margin: auto; //this centers block elements

        &:hover {
            content: url(../../images/sample2.jpg)
        }
    }

    &__shape {
        margin-top: 15rem;
        height: 40rem;
        transition: all .5s;
        background-size: 200%;

    }

    &__img {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        object-fit: cover;
        overflow: hidden;

        &::after {
            margin: 10px;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
            font-size: 25px;
          }
    }
}