@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	/*padding: 0;
	margin: 0;*/
	height: 100%;
	width:100%;
	font-size: 1em;
}

#header {
	height: 100%;
	width: auto;
	background: url("../images/brick.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	position: relative;
	/*z-index: 0;*/
}

.box {
	background-size: 100% auto; 
	height: 100%;
	background-color: white;
	opacity: 0.5;
	transform: skewX(30deg);
	padding-right: 65vw;
	margin-left: 50%;
	/*z-index: 1;*/
	position: absolute;
	float: right;
}

#name h1{
	font-size: 4.25rem;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.2rem;
	z-index: 200;
	margin-left: 55%;
	margin-top: 10%;
	/*float: right;*/
	position: absolute;
	color: #073894;
	opacity: 0.85;
}

@media only screen and (max-width: 480px) {
	body {font-size: 0.5rem}
}

/*@media only screen and (min-width: 481px) {
	
}

@media only screen and (min-width: 1024px) {
	
}